# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List popular Data Science tools
* Create markdown and code cells

## Author: 
Harold Puig

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Scikit-learn
5. Matplotlib

| Data Science Tools |
| ------------------ |
| JupyterLab |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335